{% extends '_tpl/typeForm.html.twig' %}
{% block content %}
  {{ parent() }}
  <div>{% include '_elements/textfield.html.twig' with {'name': 'username', 'label': 'Username', 'value': entry.username is defined ? entry.username : ''} %}</div>
  <div>{% include '_elements/textfield.html.twig' with {'name': 'password', 'label': 'Password', type: 'password', 'value': entry.password is defined ? entry.password : ''} %}</div>
  <div>{% include '_elements/textarea.html.twig' with {'name': 'note', 'label': 'Note', 'value': entry.note is defined ? entry.note : ''} %}</div>
  <input type="hidden" name="type" value="UsernamePassword" />
{% endblock %}
