{% extends '_tpl/typeDetails.html.twig' %}

{% block content %}
  {% if entry.username is not empty %}
    <div class="mdl-card__supporting-text mdl-card__icons">
      <i class="material-icons">account_circle</i>
      <span class="username">{{entry.username}}</span>
    </div>
  {% endif %}
  {% if entry.password is not empty %}
  <div class="password js_secret undisclosed mdl-card__supporting-text mdl-card__textActions">
    <i class="material-icons">lock_outline</i>
    <span class="undisclosed">****</span>
    <span class="disclosed secret">{{entry.password}}</span>
    <div class="mdl-layout-spacer"></div>
    <button class="js_secretBtn mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons visibility_icon"></i>
    </button>
    <button data-copy="secret" class="js_copy mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">content_copy</i>
    </button>
  </div>
  {% endif %}
  {% if entry.note is not empty %}
  <div class="mdl-card__supporting-text mdl-card__icons">
    <i class="material-icons">mode_comment</i>
    <span class="username">{{entry.note}}</span>
  </div>
  {% endif %}
{% endblock %}
