{% extends 'PasswordSafeBundle:_tpl:standardSkeleton.html.twig' %}
{% if category is defined and category != 'default' %}{% set title = category %}{% endif %}

{% block content %}
  {% include 'PasswordSafeBundle:_tpl:entries.html.twig' %}

  <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="addMenu">
    <li class="mdl-menu__item" data-target="main" data-ajax="{{ path('add', {'type': 'Text', 'category': category | base64_encode | trim('=') }) }}">Safe note</li>
    <li class="mdl-menu__item" data-target="main" data-ajax="{{ path('add', {'type': 'UsernamePassword', 'category': category | base64_encode | trim('=') }) }}">Username and password</li>
  </ul>
  <button id="addMenu" class="addButton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
{% endblock %}
