{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block main %}
  <div class="mdc-card mdc-card--content">
    <h2 class="mdc-typography--headline6">Two-factor authentification</h2>
    <p>Scan this image with your token generator, e.g. Google Authenticator</p>
    {{qrCode|raw}}
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <a href="{{path('settings')}}" class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-auto-init="MDCRipple">Next</a>
        </div>
    </div>
  </div>
{% endblock %}
