{% extends 'PasswordSafeBundle:_tpl:standardSkeleton.html.twig' %}
{% set hideMenu = true %}
{% set title = 'Settings' %}

{% block content %}
  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Two-factor authentification</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Scan this image with your token generator, e.g. Google Authenticator</p>
      {{qrCode|raw}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="{{path('settings')}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Next</a>
    </div>
  </div>
{% endblock %}
