{% extends 'base.html.twig' %}
{% block title %}Settings{% endblock %}

{% block  main %}
<form action="" method="post">
  <div class="mdc-card mdc-card--content">
    <h2 class="<h2 class="mdc-typography--headline6">Change your password</h2>
    <div>{% include '_elements/textfield.html.twig' with {'name': 'oldpassword', 'label': 'Old Password', type: 'password', 'value': ''} %}</div>
    <div>{% include '_elements/textfield.html.twig' with {'name': 'password', 'label': 'New Password', type: 'password', 'value': ''} %}</div>
    <div>{% include '_elements/textfield.html.twig' with {'name': 'password2', 'label': 'Retype your Password', type: 'password', 'value': ''} %}</div>
    <div>{% include '_elements/textfield.html.twig' with {'name': 'keyiterations', 'label': 'Key Iterations', type: 'text', 'value': keyiterations} %}</div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
            <a href="{{path('settings')}}" class="mdc-button mdc-card__action mdc-card__action--button">Cancel</a>
            <input type="submit" class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" value="Save" />
         </div>
    <div>
  </div>
</form>
{% endblock %}
