{% extends 'base.html.twig' %}
{% block title %}Settings{% endblock %}

{% block main %}
<form action="" method="post">
  <div class="mdc-card mdc-card--content">
    <h2 class="mdc-typography--headline6">Personalization</h2>
    {% if meta.map.startCategory is defined  %}
        {% set value = meta.map.startCategory %}
    {% else %}
      {% set value = '' %}
    {% endif %}
    {% set options = {} %}
    {% for category in categories %}
      {% set options = options|merge({(category): category}) %}
    {% endfor %}
    {% include '_elements/select.html.twig' with {'name': 'startCategory', 'label': 'Start Category', 'value': value, options: options, emptyValue: 'Main Category'} %}
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <a class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-auto-init="MDCRipple" href="{{path('settings')}}">Back</a>
          <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
          <input type="submit" class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="Save" />
      </div>
    </div>
  </div>
</form>
{% endblock %}
