$mdc-theme-primary: #F44336;
$mdc-theme-secondary: #448AFF;
$mdc-theme-on-primary: #FFF;
$mdc-theme-on-secondary: #FFF;

$borderColor: rgba(0, 0, 0, .1);

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/fab/mdc-fab";
@import "@material/button/mdc-button";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/tabs/mdc-tabs";
@import "@material/switch/mdc-switch";
@import "@material/select/mdc-select";

html, body {
  margin: 0;
  background: #F2F2F2;
}

a {
  text-decoration: none;
  color: $mdc-theme-primary;
}

.mdc-top-app-bar {
  z-index: 10;
}

.mdc-card__actions {
  padding: 20px 0 0;
}

.mdc-drawer {
  &.mdc-drawer--temporary {
    display: none;
    z-index: 10;

    .mdc-drawer__header-content {
      flex-flow: column;
      align-items: center;

      img {
        display: block;
        height: 60%;
      }
    }
  }
}
.mdc-select__native-control {
  -webkit-appearance: none;
}
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  display: none;
}
.mdc-top-app-bar .mdc-top-app-bar__title {
  padding-left: 0px;
}
@media (max-width: 1320px) {
  .mdc-drawer.mdc-drawer--temporary {
    display: block;
  }
  .mdc-drawer.mdc-drawer--permanent {
    display: none;
  }
  .mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    display: block;
  }
  .mdc-top-app-bar .mdc-top-app-bar__title {
    padding-left: 20px;
  }
}

body > .page {
  display: flex;

  main {
    $topBarSize: 64px;
    padding: $topBarSize+20px 20px 80px;
    flex-grow: 1;
  }
}

.new-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.entries {
  max-width: 600px;
  margin: auto;

  li a {
    color: #000;

    &.mdc-list-item__text {
      flex-grow: 1;
      line-height: 48px;
    }
  }

  &.mdc-list li h2 {
    margin: 0;
  }
}

.entry {
  padding: 20px 20px;
  max-width: 600px;
  margin: auto;

  h2 {
    margin-top: 0;
  }

  .undisclosed .secret, .disclosed .mask {
    display: none;
  }
}

.form {
  max-width: 600px;
  margin: auto;
  padding: 0 20px 12px;

  .mdc-text-field--textarea, textarea {
    width: 100%;
  }
  .mdc-tab-panel-share ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 25px;
    }
  }
}

.mdc-tab-bar {
  margin-bottom: 20px;
}
.mdc-tab-panel {
  display: none;

  &.mdc-tab-panel__active {
    display: block;
  }
}
