{% extends 'skeleton.html.twig' %}

{% block body %}
<header class="mdc-top-app-bar" data-mdc-auto-init="MDCTopAppBar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="javascript:void(0);" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">{{block('title')}}</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <form method="post" action="/search" class="mdc-text-field mdc-text-field--dense mdc-text-field--search mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <i class="material-icons mdc-text-field__icon" role="button" data-mdc-auto-init="MDCTextFieldIcon">search</i>
          <input type="text" name="search" id="search" class="mdc-text-field__input" autocomplete="off">
        </form>
      <a href="{{ path('logout') }}" class="material-icons mdc-top-app-bar__action-item" aria-label="Logout" alt="Logout">exit_to_app</a>
    </section>
  </div>
</header>
<aside class="mdc-drawer mdc-drawer--temporary mdc-typography" data-mdc-auto-init="MDCTemporaryDrawer">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content">
        <img src="/images/logo.svg" />
        <h1 class="mdc-typography mdc-typography--headline6">PasswordSafe</h1>
      </div>
    </header>
    <nav class="mdc-drawer__content mdc-list  mdc-list--dense">
      {% block sideNavigation %}
        {% include '_tpl/navigation.html.twig' %}
      {% endblock %}
    </nav>
  </nav>
</aside>
<div class="page">
    <nav class="mdc-drawer mdc-drawer--permanent mdc-typography">
      <div class="mdc-drawer__toolbar-spacer"></div>
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          {{ block('sideNavigation') }}
        </nav>
      </div>
    </nav>
    <main>
        {% if requested_inheritance is defined and requested_inheritance %}
            <div class="error">Your inheritance has been requested. <a href="{{path('settingsInheritance')}}">Manage your inheritances</a></div>
        {% endif %}
        {% block main %}{% endblock %}
    </main>
    <div class="mdc-snackbar" data-mdc-auto-init="MDCSnackbar">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
      </div>
    </div>
</div>
{% endblock %}
