{% extends 'base.html.twig' %}

{%block main%}
    {% include '_tpl/entries.html.twig' %}
    <button class="new-button mdc-fab material-icons" onclick="window.location.href='{{ path('add', {'type': 'UsernamePassword', 'category': category | base64_encode | trim('=') }) }}'">
      <span class="mdc-fab__icon">
        add
      </span>
    </button>
{%endblock%}
