{% extends 'base.html.twig' %}

{%block body%}
    <form action="{{ path('login') }}" method="post" class="mdc-card mdc-card--login">
        <h1 class="mdc-typography mdc-typography--headline4">Password<span>Safe</span></h1>
        {% if login_error %}
            <div class="error">Login failed.</div>
        {% endif %}
        {% include '_elements/textfield.html.twig' with {'name': 'ps_user', 'label': 'Username', 'value': last_username, 'attr': 'autofocus="true"'} %}
        {% include '_elements/textfield.html.twig' with {'name': 'ps_pass', 'label': 'Password', 'value': '', type: 'password'} %}
        {% include '_elements/textfield.html.twig' with {'name': 'mfaCode', 'label': '2-Step Authentication Code', 'value': '', type: 'number', attr: 'autocomplete="off"'} %}
        <div class="mdc-card__content--left">{% include '_elements/checkbox.html.twig' with {'name': 'deviceType', value: 'secure', 'label': 'Secure Device'} %}</div>

        <div><button type="submit" class="mdc-button mdc-button--raised">Login</button></div>
    </form>
{%endblock%}
