<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      {% set _title = block('title') %}
      <title>{% block title %}PasswordSafe{% endblock %}</title>
      <link rel="stylesheet" href="/app.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="icon" href="/images/favicon.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="apple-touch-icon" href="/images/launcher-icon.png">
      <link rel="apple-touch-startup-image" href="/images/launcher-icon.png">
      <meta name="apple-mobile-web-app-title" content="PasswordSafe">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
      <meta name="theme-color" content="#F44336" />
      {% block head %}{% endblock %}
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}
        <script src="/app.js" async></script>
        <script>
        window.addEventListener('load', function() {
            {% block js_load %}{% endblock %}
        });
        </script>
      {% endblock %}
    </body>
</html>
