{% extends 'PasswordSafeBundle:_tpl:standardSkeleton.html.twig' %}
{% set hideMenu = true %}
{% set title = 'Settings' %}

{% block content %}
<form action="" method="post">
  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Change your password</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div>{% include 'PasswordSafeBundle:_elements:labelInput.html.twig' with {'name': 'oldpassword', 'label': 'Old Password', type: 'password', 'value': ''} %}</div>
      <div>{% include 'PasswordSafeBundle:_elements:labelInput.html.twig' with {'name': 'password', 'label': 'New Password', type: 'password', 'value': ''} %}</div>
      <div>{% include 'PasswordSafeBundle:_elements:labelInput.html.twig' with {'name': 'password2', 'label': 'Retype your Password', type: 'password', 'value': ''} %}</div>
      <div>{% include 'PasswordSafeBundle:_elements:labelInput.html.twig' with {'name': 'keyiterations', 'label': 'Key Iterations', type: 'text', 'value': keyiterations} %}</div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      <a href="{{path('settings')}}" class="mdl-button mdl-js-button mdl-button--primary">Cancel</a>
      <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Save" />
    <div>
  </div>
</form>
{% endblock %}
